*{
  font-family: "montserrat", sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background: #333;
}
.table-box{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(45deg, #9fbaa8, #31354c);
}
.main-table{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  transform: translate(-50%,-50%);
  color: white;
  text-align: center;
}
.act-btn, .up-btn{
  background: #cd6133;
  padding: 2px;
  margin: 4px;
  border-radius: 8px;
  text-align:  center;
}
.act-btn:hover, .in-btn:hover, .up-btn:hover{
  opacity: 0.4;
  cursor: pointer;
}
.body-d, .head-d{
  padding-right: 8px;
  padding-left: 8px;
  color: white;
  text-align: center;
}
.head-d{
  padding-top: 8px;
  padding-bottom: 8px;
}
table{
  border: 1;
  width: 100%;
  border-color: #795548;
  border-collapse: collapse;
}
tr{
  margin: 5px;
}
.head-row{
  text-transform: uppercase;
}
.in-btn{
  background:  #cd6133;
  color: white;
  width: 20%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  padding: 1px 1px;
  border-radius: 4px;
  margin-top: 10px;
  text-align: center;

}
.modal-n, .modal-i{
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.95);
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
  border-radius: 6px;
  border: 1px solid white;

}
.inpt-modal{
  margin: 10px;
  background: #ffffff28;
  border: 1px solid brown;
  border-radius: 6px;
  width: 90%;

  box-sizing: border-box;
  display: block;
  outline: none;

}
.hide-modal{
  position: absolute;
  top: 0.5%;
  right: 0.5%;
  color: gray;
  transition: 0.4s;
}
.hide-modal:hover{
  cursor: pointer;
  transform: rotate(70deg) scale(1.2);
  color: white;
}
