*{
  font-family: "montserrat", sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background: #333;
}
.login-box{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(45deg, #9fbaa8, #31354c);
  transition: 0.4s;
}
.login-form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  text-align: center;
}

.txtb{
  display: block;
  box-sizing: border-box;
  width: 240px;
  background: #ffffff28;
  border: 1px solid white;
  padding: 10px 20px;
  color: white;
  outline: none;
  margin: 10px 0;
  border-radius: 6px;
  text-align: center;
}
.login-btn{
  width: 240px;
  background: #2c3e50;
  border: 0;
  color: white;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}
.to{
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%,-50%);

  display: block;
}
.to:hover{
  transform: translate(-50%,-50%) scale(1.2);
  cursor: pointer;
  color: #cd6133;
}
